/* Global styles */
* {
    margin: 0;
    font-family: "Quicksand" , sans-serif;
}

h1, h2, h3 .post-category{
      font-family: "Spectral", serif;
}

a{
    color: #006DFE;
}

/* Header section */

header{
    background-color: #006DFE;
    color: white;
    text-align: center;
    padding: 30px 0;
    font-size: 16px;
    font-weight: 500;
}

/* Main section */




main{
    max-width: 570px;
    margin: auto;

    figure{
    text-align: center;
    padding: 40px 0;
    margin: 0;
}
article{

    h1{
        margin-top: 10px ;
        margin-bottom: 14px;
        font-size: 36px;
        line-height: 120%;
       /* or margin: 10px 0 14px 0   top right  buttom lift */ 
    }
    
    h2,h3{
        margin-bottom: 10px;
    }
    
    p,ul{
        margin-bottom: 20px;
        font-size: 16px;
        line-height: 150%;
    }
    iframe{
        margin: 30px 0; /* top,buttom , lift,right*/
    }
    
    .post-category{
        color: #006DFE;
        font-size: 16px;
        font-weight: 600;
    }
    
    #post-info{
        color: #C1C1C1;
        margin-bottom: 30px;
        font-size: 14px;
    }
    
}
#related-posts{
    margin-bottom: 40px;
    background-color: #F1F1F1;
    padding: 20px;

    h4{
        margin-bottom: 14px;
        text-transform: uppercase;
        font-family: "Quicksand" , sans-serif;
        font-weight: normal;
        font-size: 12px;
    }
    ul{
        list-style-type: none;
        padding: 0;

        li{
            margin-bottom: 6px;
        }
    }
}

}


/* Footer section */
footer{
    text-align: center;
    max-width: 856px;
    margin: auto;
    padding: 20px 0; 
    border-top: 1px solid #C1C1C1;   
}